<h2>Registered Users:</h2>
<tmpl_loop name='USERS'>
  <div class="quiki_index_line">
    <span style="width: 10%; display: inline-block">
      <img style="vertical-align: middle" src="<tmpl_var name="gravatar"/>" width="24"/>        
    </span>
  </div>
</tmpl_loop>
