

<tmpl_include name='title.tmpl'/>
<tmpl_include name='nav_bar.tmpl'/>

<tmpl_if name='MSG'>
  <script type="text/javascript">
		$(document).ready(function(){
			$.gritter.add({
				title: 'Info!',
				text: '<tmpl_var name="MSG"/>',
			});
		});
  </script>
  <noscript>
    <b>Info! <tmpl_var name="MSG"/></b>
  </noscript>
</tmpl_if>

<tmpl_if expr="ACTION eq 'diff'">
  <pre><tmpl_var name="CONTENT"/></pre>
<tmpl_elsif expr="ACTION eq 'edit'">
  <tmpl_include name='edit.tmpl'/>
<tmpl_elsif expr="ACTION eq 'index'">
  <tmpl_include name='index.tmpl'/>
<tmpl_elsif expr="ACTION eq 'admin_page'">
  <tmpl_include name='admin.tmpl'/>
<tmpl_elsif expr="ACTION eq 'history'">
  <tmpl_include name='history.tmpl'/>
<tmpl_else>
  <div class="quiki_body">
    <tmpl_var name='CONTENT'/>
    <div style="clear: both"></div>
  </div>

  <tmpl_include name='meta.tmpl'/>
</tmpl_if>

<tmpl_include name='menu_bar.tmpl'/>
