<tmpl_if NAME='PREVIEW'>
	<div class='quiki_preview'>
		<h4>Preview</h4>
		<hr />
		<tmpl_var CONTENT>
	</div>
</tmpl_if>

<script type="text/javascript">
	$(document).ready(function(){ 
		$('textarea.resizable:not(.processed)').TextAreaResizer(); 
	});
</script>

<form method="post" enctype="multipart/form-data">
<textarea name="text"  rows="30" cols="80" class="resizable">
<tmpl_var TEXT>
</textarea>
<input type="hidden" name="node" value="<tmpl_var WIKINODE>" />
<input type="hidden" name="action" value="save" />
