<script type="text/javascript">
	$(document).ready(function(){ 
		$.floatbox({ content: "<div class=\"floatbox_head\">Log in</div><div class=\"floatbox_body\"><form method=\"post\" action=\"/quiki.smash/quiki.cgi\" enctype=\"multipart/form-data\">  <table style=\"margin-left: auto; margin-right: auto\"><tr><td>Username: </td> <td><input type=\"text\" name=\"username\"  /></td></tr> <tr><td>Password: </td> <td><input type=\"password\" name=\"password\"  /></td></tr></table> <br /> <br /> <input type=\"hidden\" name=\"action\" value=\"login\"  /> <input type=\"submit\" name=\"submit\" value=\"Log in\" /> </form></div>" });
	});
</script>
<noscript>
	<div class="floatbox_head">Log in</div>
	<div class="floatbox_body">
		<form method="post" action="/quiki.smash/quiki.cgi" enctype="multipart/form-data">
		<table style="margin-left: auto; margin-right: auto">
			<tr><td>Username: </td> <td><input type="text" name="username" /></td></tr>
			<tr><td>Password: </td> <td><input type="password" name="password" /></td></tr>
		</table>
		<br /> <br />
		<input type="hidden" name="action" value="login" />
		<input type="submit" name="submit" value="Log in" />
		</form>
	</div>
</noscript>
