<!-- MENU BAR AT THE BOTTOM -->
<div class="quiki_menu_bar_wrapper">
<div class="quiki_menu_bar_wrapper_side_l"></div>
<div class="quiki_menu_bar_wrapper_side_r"></div>
<div class="quiki_menu_bar">
  <div class="quiki_menu_bar_left">
    <TMPL_IF EXPR="ACTION eq 'index' or ACTION eq 'history' or ACTION eq 'admin_page'">
      <!-- ... -->
    <TMPL_ELSIF EXPR="ACTION eq 'edit'"/>
      <input type="submit" name="submit" value="Cancel" />
      &nbsp;|&nbsp;
      <input type="submit" name="submit" value="Preview" />
      &nbsp;|&nbsp;
      <input type="submit" name="submit" value="Save" />
      &nbsp;|&nbsp;
      <button type="button" onClick="window.open('<TMPL_VAR NAME="SERVERROOT"/><TMPL_VAR NAME="DOCROOT"/>help/syntax.html')">Syntax Help</button>
      </form> <!-- XXX - Nao gosto deste </form> a fechar um <form> algures noutra template -->
    <TMPL_ELSE>
      <TMPL_IF NAME="AUTHENTICATED">
	<TMPL_IF NAME="LAST_REV">
		<a class="quiki_menu_button" href="?node=<TMPL_VAR WIKINODE>&action=edit"><span>Edit this page</span></a>
		<a class="quiki_menu_button" href="?action=attach"><span>Attach document</span></a>
		<a class="quiki_menu_button" href="?action=history"><span>Page history</span></a>
	  <form method="post" enctype="multipart/form-data">
	    <input type="submit" name="submit" value="Create new page" />
	    &nbsp;
	    <input type="text" name="node" value="&lt;name&gt;" size="8" />
	    <input type="hidden" name="action" value="create" />
	  </form>
        <TMPL_ELSE>
	  <form method="post" enctype="multipart/form-data">
	    <input type="hidden" name="node" value="<TMPL_VAR WIKINODE>" />
	    <input type="hidden" name="action" value="rollback" />
	    <input type="hidden" name="rev" value="<TMPL_VAR REV>" />
	    <input type="submit" name="submit" value="Rollback to this version" />
	  </form>
	  &nbsp;|&nbsp;
	  <form method="post" enctype="multipart/form-data">
	    <input type="submit" name="submit" value="Create new page" />
	    &nbsp;
	    <input type="text" name="node" value="&lt;name&gt;" size="8" />
	    <input type="hidden" name="action" value="create" />
	  </form>
	</TMPL_IF>
      </TMPL_IF>
    </TMPL_IF>
  </div>
	<div class="quiki_menu_bar_right">
		<a class="quiki_menu_button" href="?node=index"><span>Index</span></a>
		<TMPL_IF NAME="AUTHENTICATED">
			<a class="quiki_menu_button" href="?action=profile_page"><span>Edit Profile</span></a>
                        <TMPL_IF EXPR="USER_ROLE eq 'admin'">
						<a class="quiki_menu_button" href="?action=admin_page"><span>Admin Page</span></a>
						<img src="images/sep.png" />
                        </TMPL_IF>
			<a class="quiki_menu_button" href="?action=logout"><span>Logout</span></a>
		<TMPL_ELSE>
			<TMPL_IF NAME="OPENSITE">
				<a class="quiki_menu_button" href="?node=<tmpl_var name='WIKINODE'>&action=register_page"><span>Sign Up</span></a>
			</TMPL_IF>
			<a class="quiki_menu_button" href="?node=<tmpl_var name='WIKINODE'>&action=login_page"><span>Log in</span></a>
		</TMPL_IF>
	</div>
</div>
<div style="clear: both"></div>
</div>
