<!-- META INFO -->
<div class="quiki_meta">
	<div class="quiki_meta_left">
		<tmpl_var L_META>
	</div>
	<div class="quiki_meta_right">
		<tmpl_var R_META>
	</div>
<div style="clear: both;"></div>
</div>
