<!-- META INFO -->
<div class="quiki_meta_bar">

  <div class="quiki_meta">
	<div class="quiki_meta_left"><tmpl_var name="L_META"/></div>
    <div class="quiki_meta_right"><span><tmpl_var name="R_META"/></span></div>
    <span style="clear: both; display: block;"></span>
  </div>

  <div style="clear: both; display: block;"></div>
</div>

