<!-- NAVIGATION BAR AT THE TOP -->
<div class="quiki_nav_bar">
  <div class="quiki_nodename">
    <span class="quiki_nodename_title_left"></span>
    <span class="quiki_nodename_title_right">
      <a href="<tmpl_var name="WIKISCRIPT"/>?node=<tmpl_var MAINNODE>"><tmpl_var name="WIKINODE"/></a>
    </span>
  </div>

  <div class="quiki_breadcumbs">
    <strong>Your path:</strong>&nbsp;&nbsp;<tmpl_var name="BREADCUMBS"/>
  </div>

  <div style="clear: both;"></div>

</div>

<span class="quiki_nav_bar_sep"></span>
