<div id="modal">
  <div class="modal_head">Edit Profile<span style="float: right;"><a href="javascript:hideModal('modalPage')"><img onmouseover="javascript: this.src='images/close_h.png';" onmouseout="javascript: this.src='images/close_n.png';" src="images/close_n.png" /></a></span>
  </div>

  <div class="modal_body">
    <form name="profile_form" method="post" enctype="multipart/form-data">
      <div style="float: right; margin-right: 20px">
        <img src="<tmpl_var GRAVATAR>"/>
      </div>

      <table style="margin-left: auto; margin-right: auto">
        <tr>
          <td style="text-align: right">E-mail: </td>
          <td><input type="text" name="email" value="<tmpl_var EMAIL>" /></td>
        </tr>
        <tr>
          <td style="text-align: right">New Password: </td> 
          <td><input type="password" name="new_password1"  /></td>
        </tr>
        <tr>
          <td>Retype Password: </td> 
          <td><input type="password" name="new_password2"  /></td>
        </tr>
      </table>
      <br /> <br />
      <input type="hidden" name="action" value="save_profile"  />
      <div class="modal_body_actions">
        <span style="float: right; padding-top: 7px;">
          <a class="quiki_menu_button" href="javascript: document.profile_form.submit();"><span>Save Profile</span></a>
        </span>
      </div>
    </form>

    <div id="modalClose"><a href="javascript:hideModal('modalPage')">close</a></div>
  </div>
</div>
