<div id="modal">
  <div class="modal_head">Upload Files<span style="float: right;"><a href="javascript:hideModal('modalPage')"><img onmouseover="javascript: this.src='images/close_h.png';" onmouseout="javascript: this.src='images/close_n.png';" src="images/close_n.png" /></a></span>
  </div>

  <div class="modal_body">
    <form name="upload_form" method="post" enctype="multipart/form-data">
    <input type="hidden" name="node" value="<tmpl_var name="WIKINODE">">
      <table style="margin-left: auto; margin-right: auto">
        <tr><th>Filename </th><th>Identifier</th><th>Description</th></tr>
        <tr id="rowid1">
          <td><input type="file" name="filename1" onChange="updateField(this, 1)" /></td>
          <td><input name="name1"  size="10"  id="name1"/></td>
          <td><input name="description1" size="30"/></td>
        </tr>
      </table>
      <a class="quiki_js" style="cursor: pointer; "
         href="javascript:;" onclick="addUploadFile()">upload one more file</a>
      <br /> <br />
      <input type="hidden" name="action" value="upload"  />
      <div class="modal_body_actions">
        <span style="float: right; padding-top: 7px;">
          <a class="quiki_menu_button" href="javascript: document.upload_form.submit();"><span>Upload</span></a>
        </span>
      </div>

    </form>

  </div>
</div>
