/* Use local.css for your custom stylesheet */

.quiki_body {
  border: solid 1px #999999;
  padding: 5px;
}

.quiki_body pre {
  margin: 5px;
  padding: 3px;
  background-color: #dcdcdc;
  border: solid 1px #cccccc;
}

.quiki_nav_bar { 
  padding: 3px;
  background-color: #dedede;
  border: solid 1px #cccccc;
  margin-bottom: 5px;
}

.quiki_menu_bar {
  padding: 3px;
  background-color: #dedede;
  border: solid 1px #cccccc;
  margin-top: 5px;
}

.quiki_menu_bar_left {
  float: left;
}

.quiki_menu_bar_right {
  float: right;
}

.quiki_menu_bar form {
  display: inline;
}

.quiki_meta { 
  text-align: right;
  font-size: small;
  color: #999999;
}

#quiki_name { 
  float: right;
  font-size: 20px;
  color: #bb9999;
}