/* Use local.css for your custom stylesheet */

.quiki_body {
  background-color: #ededed;
  padding: 5px;
}

.quiki_body pre {
  margin: 5px;
  padding: 3px;
  background-color: #dcdcdc;
  border: solid 1px #999999;
}
